/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-pikchr textarea {
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 14px;
	border-radius: 0;
	white-space: pre-wrap;
}
